@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

.services-title {
    font-size: 28px;
    font-family: 'Lora', serif;
    color: #2c0e62;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.file {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 20px 30px rgba(26, 72, 142, 0.15);
    text-align: center;
}

button a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
    text-align: center;
}

#btn {
    background-color: #4991ff;
    margin-top: 20px;
    border: none;
    width: 100%;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    word-spacing: 5%;
    cursor: pointer;
    border-radius: 10px;
}

#btn:hover {
    box-shadow: 0 20px 30px rgba(26, 72, 142, 0.15);
    background-color: #1652f0;
}

#logo {
    position: absolute;
    height: 35px;
    width: 35px;
    right: 90px;
    bottom: 123px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .file {
        width: 90%;
        padding: 15px;
    }

    #btn {
        padding: 18px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .file {
        width: 95%;
        padding: 10px;
    }

    #btn {
        padding: 15px;
        font-size: 14px;
    }
}
