<!DOCTYPE html>
<html>
  <head>
    <title>Cryptness</title>
    <link
      rel="shortcut icon"
      href="/static/Images/blockchain1.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/static/js/slider.js"></script>
  </head>

  <body>
    <div class="main">
      <div class="title">
        <img id="logo" src="/static/Images/blockchain1.png" alt="" srcset="" />
        <h3>Cryptness</h3>
        <div id="line"></div>
        <!-- Nav bar -->
        <div class="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="{{ url_for('services')}}">Services</a></li>
            <li><a href="#contact-us">Connect</a></li>
          </ul>
        </div>
        <div class="sign">
          <button type="submit">
            <a href="{{ url_for('login') }}">Log In / Sign In</a>
          </button>
        </div>
      </div>
      <!-- Video section -->
      <div class="video">
        <video autoplay loop muted id="vid">
          <source src="/static/Video/new-one.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="crypto" id="about">
        <div class="sub_crypto">
          <p id="p1">What Is Encryption ??</p>
          <p id="p2">
            In cryptography, encryption is the process of encoding information.
            This process converts the original representation of the
            information, known as plaintext, into an alternative form known as
            ciphertext. Ideally, only authorized parties can decipher a
            ciphertext back to plaintext and access the original information.
          </p>
          <img src="/static/Images/computer.png" alt="" />
        </div>
      </div>

      <!-- imp  -->
      <div id="cards">
        <div class="privacy">
          <img id="logo1" src="/static/Images/privacy-policy.png" alt="" />
          <p id="heading1">Privacy</p>
          <p id="content1">
            By properly applying encryption, Cryptness achieves actual privacy
            by design
          </p>
        </div>
        <div class="powerful">
          <img id="logo2" src="/static/Images/encrypted.png" alt="" srcset="" />
          <p id="heading2">Powerful</p>
          <p id="content2">
            Cryptness is Data Secure Storage Services which is implemented by
            SHA-256 Encryption Hash Algorithm
          </p>
        </div>
        <div class="secure">
          <img id="logo3" src="/static/Images/shield.png" alt="" srcset="" />
          <p id="heading3">Secure</p>
          <p id="content3">
            Cryptness is engineered to achieve the highest level of security -
            for its users
          </p>
        </div>
        <div class="transparent">
          <img id="logo4" src="/static/Images/guarantee.png" alt="" srcset="" />
          <p id="heading4">Transparent</p>
          <p id="content4">
            Cryptness Website is Public Source. Its cryptographic architecture
            is specified in a comprehensive Security Whitepaper.
          </p>
        </div>
        <div class="reliable">
          <img id="logo5" src="/static/Images/trust.png" alt="" srcset="" />
          <p id="heading5">Reliable</p>
          <p id="content5">
            Cryptness ensures user's Data Security and user's data always
            remains available
          </p>
        </div>
        <div class="simple">
          <img id="logo6" src="/static/Images/easy.png" alt="" srcset="" />
          <p id="heading6">Simplicity</p>
          <p id="content6">
            The Website is simple in itself and easy to serf through. The
            website will expand and extend further.
          </p>
        </div>
      </div>
      <div class="cyber">
        <div class="sub_cyber" id="about">
          <p id="p1">What Is Cyber And Data Security ??</p>
          <p id="p2">
            Data security means protecting digital data, such as those in a
            database, from destructive forces and from the unwanted actions of
            unauthorized users, such as a cyber attack or a data breach. Cyber
            security is the application of technologies, processes and controls
            to protect systems, networks, programs, devices and data from cyber
            attacks.
          </p>
          <div class="cyber_img">
            <img id="img1" src="/static/Images/mobile1.png" alt="" />
            <img id="img2" src="/static/Images/mobile2.png" alt="" />
          </div>
        </div>

        <div class="start">
          <div class="visit">
            <img id="v1" src="/static/Images/unique-visitor.png" alt="" />
            <p>1. Visit Cryptness</p>
          </div>
          <div class="create">
            <img id="v2" src="/static/Images/add-user.png" alt="" />
            <p>2. Create a free account</p>
          </div>
          <div class="store">
            <img id="v3" src="/static/Images/file-storage.png" alt="" />
            <p>3. Store and fetch data securely</p>
          </div>
          <video autoplay loop muted id="vid2">
            <source
              src="/static/Video/Typing_dark_05_Videvo.mov"
              type="video/mp4"
            />
          </video>
        </div>
        <!-- Add an id to the footer section -->
        <footer class="footer" id="contact-us">
          <div class="foot1">
            <img src="/static/Images/blockchain1.png" alt="" />
            <p id="name">Cryptness</p>
            <p>
              This Website is to store user's data safe and secure. The website
              is implementation of Encryption and SHA - 256 Hash Algorithm. The
              Authorization and Authenticity of User is mandatory.
            </p>
          </div>
          <div class="vertical"></div>
          <div class="contact">
            <a href="https://www.facebook.com/"
              ><img id="fb" src="/static/Images/logo/facebook.png" alt=""
            /></a>
            <a href="https://twitter.com/"
              ><img id="twt" src="/static/Images/logo/twitter.jpeg" alt=""
            /></a>
            <a href="https://www.instagram.com/"
              ><img id="insta" src="/static/Images/logo/instagram.jpeg" alt=""
            /></a>
            <a href="https://www.linkedin.com/"
              ><img id="linkin" src="/static/Images/logo/linkdin.png" alt=""
            /></a>
            <a href="https://www.youtube.com/"
              ><img id="yt" src="/static/Images/logo/youtube.jpeg" alt=""
            /></a>
            <a href="https://telegram.org/"
              ><img id="tele" src="/static/Images/logo/telegram.jpeg" alt=""
            /></a>
            <a href="https://www.whatsapp.com/"
              ><img id="whats" src="/static/Images/logo/whatsapp.jpeg" alt=""
            /></a>
          </div>
        </footer>
      </div>
    </div>
  </body>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("success") === "true") {
      alert("Login Successful!");
    }
  </script>
</html>
